.contact-page {
  background: #000;
  min-height: 100vh;
  color: white;
}

.contact-container {
  max-width: 800px;
  margin: auto;
  padding: 60px 20px;
}

.contact-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-box {
  background: #111;
  padding: 25px;
  border-radius: 12px;
}

.contact-box p {
  margin-bottom: 10px;
  color: #ccc;
}

/* MOBILE */
@media (max-width: 768px) {
  .contact-title {
    font-size: 26px;
    text-align: center;
  }
}