.banner {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-image 0.8s ease-in-out;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  max-width: 600px;
}

.banner-content h1 {
  font-size: 40px;
}

.banner-content p {
  margin-top: 10px;
}


/* =========================
   TABLET (<=1024px)
========================= */
@media (max-width: 1024px) {
  .banner {
    height: 420px;
  }

  .banner-content h1 {
    font-size: 34px;
  }

  .banner-content p {
    font-size: 15px;
  }

  .banner-content {
    max-width: 500px;
  }
}

/* =========================
   TABLET SMALL (<=768px)
========================= */
@media (max-width: 768px) {
  .banner {
    height: 350px;
  }

  .banner-content {
    max-width: 90%;
  }

  .banner-content h1 {
    font-size: 28px;
  }

  .banner-content p {
    font-size: 14px;
  }
}

/* =========================
   MOBILE (<=480px)
========================= */
@media (max-width: 480px) {
  .banner {
    height: 280px;
  }

  .banner-content {
    width: 90%;
    padding: 0 10px;
  }

  .banner-content h1 {
    font-size: 20px;
    line-height: 1.3;
  }

  .banner-content p {
    font-size: 12px;
    margin-top: 8px;
  }

  .overlay {
    background: linear-gradient(
      to top,
      rgba(0,0,0,0.9),
      rgba(0,0,0,0.2),
      transparent
    );
  }
}